/* Hämtar fonten 'Gabarito' från Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;800;900&display=swap');

/* Standard browserinställningar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
}

html { scroll-behavior: smooth; }

body {
    background-color: rgb(240,240,240);
    margin-top: 5em;
}

/* Header- och menyrelaterad styling */
header {
    background-color: rgb(240,240,240);
    position: fixed;
    height: 5em;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid grey;
}

header>div {
    margin: 0 auto;
    max-width: 50em;
    height: 100%;
    color: #401921;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    color: #401921;
    text-decoration: none;
}

nav>ul { list-style-type: none; }

nav>ul>li {
    display: inline;
    padding: 8px;
}

nav>ul>li:hover { text-decoration: underline; }

#shopping-cart {
    position: relative;
    display: inline-block;
}

#shopping-cart>img { width: 2.5em; }

#shopping-cart>span {
    display: none;
    background-color: white;
    border: 1px solid grey;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    text-align: center;
    color: rgb(211, 71, 71);
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

/* Styling för kundvagnens drop-down meny */
#cart-dropdown {
    display: none;
    position: absolute;
    background-color: #401921;
    min-width: 200px;
    z-index: 5;
    right: 0;
}

#cart-dropdown a {
    display: block !important;
    color: white;
    padding: 1em 1.2em;
    cursor: pointer;
}

#cart-dropdown a:hover { background-color: #7d3140; }
#shopping-cart:hover #cart-dropdown { display: block; }

/* Main grid container för hemsidans innehåll */
#grid-container {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    overflow-x: hidden;
}

/* Husbildssektionen med budget Parallax-effekt */
#house-parent {
    height: 34vw;
    clip-path: inset(0);
}

#house-image {
    position: fixed;
    object-fit: cover;
    width: 100vw;
    z-index: -1;
}

/* Styling för samtliga artiklar */
#articles {
    max-width: 50em;
    margin: 0 auto;
    margin-top: 0.5em;
    display: grid;
    grid-template: auto repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1em;
    padding-bottom: 5em;
}

#articles>h2 {
    font-size: 2rem;
    color: #401921;
    grid-column: span 3;
    justify-self: center;
}

#articles img {
    width: 100%;
    border: 1px solid grey;
    border-radius: 2px;
    cursor: pointer;
}

/* Styling för inspect-fönstret när en artikel har klickats */
#inspect-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(240,240,240, 0);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

#inspect-container {
    display: grid;
    grid-template: auto auto auto/ 15em 15em;
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    margin-left:-15em;
    margin-top:-450px;
    background-color: rgb(240,240,240);
    border: 1px solid grey;
    border-radius: 0.5em;
    z-index: 2;
}

#inspect-image {
    width: 100%;
    border-radius: 1em;
    grid-column: span 2;
    justify-self: center;
    padding: 0.5em;
}

#inspect-container p, #add-to-cart {
    margin-left: 0.5em;
    padding-bottom: 0.5em;
}

#price {
    font-weight: bold;
    font-size: 2rem;
}

#description {
    grid-column: span 2;
    word-wrap: break-word;
}

/* Knapp: Lägg till i kundvagn */
#add-to-cart {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 0.5em;
    background-color: #401921;
    color: white;
    margin-right: 0.5em;
    justify-self: right;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding-top: 6px;
}

#add-to-cart:hover {
    cursor: pointer;
    background-color: #7d3140;
}

#add-to-cart:active { background-color: rgb(73, 168, 73); }

/* Exit-inspect knapp för mindre skärmstorlekar */
#exit-inspect {
    display: none;
    position: absolute;
    background-color: #401921;
    color: white;
    cursor: pointer;
    border-radius: 0.3em;
    width: 5.5em;
    height: 2.2em;
    line-height: 2.2em;
    text-align: center;
    font-size: 1.1rem;
}

#exit-inspect:hover { background-color: #7d3140; }

/* Basic styling för About & Contact */
.section>div {
    margin: 0 auto;
    max-width: 50em;
    padding: 1em 0 1em 0;
}

/* Styling för About-sektionen */
#about>div {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 1em;
    background-color: rgba(0,0,0,0.5);
    padding: 1em;
}

#about {
    background: url("../images/vass.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 15em 0 15em 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#about iframe {
    background-color: white;
    width: 100%;
    height: 100%;
}

/* Styling för Kontakt-sektionen */
#contact>div {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-items: center;
}

#contact { padding: 2em; }
#contact-info { text-align: left; }
#contact form label { font-size: 1.2rem; }

#contact form input[type=text] {
    font-size: 1.2rem;
    background-color: rgb(240,240,240);
    outline: none;
    height: 2rem;
    width: 20rem;
    border-width: 0 0 3px;
    border-color: lightgrey;
}

#contact form textarea {
    font-size: 1.2rem;
    width: 20rem;
    height: 10rem;
    background-color: rgb(240,240,240);
    outline: none;
    border-width: 0 0 3px;
    border-color: lightgrey;
    resize: none;
}

#contact form input[type=text]:hover, form input[type=text]:focus,form textarea:hover, form textarea:focus { border-color: black; }

#contact form input[type=submit] {
    height: 3rem;
    width: 20rem;
    border: 3px solid black;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

#contact form input[type=submit]:hover {
    background-color: black;
    color: rgb(240,240,240);
    cursor: pointer;
}

/* Styling för Footer */
footer {
    background-color: #401921;
    color: white;
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: center; 
}

footer>div { padding: 5em 3em 0 3em; }
footer ul { list-style-type: none; }
footer a { color: lightblue; }

.scroll { scroll-margin: 5.4em; } /* För att navigeringen ska ta hänsyn till en fixed header */

/* Mindre skärmar. Arrangerar om artiklar till två per rad och klämmer ihop footern en aning */
@media (width <= 992px) {
    #articles {
        grid-template: auto repeat(5, 1fr) / 1fr 1fr;
        width: 95vw;
        gap: 0.5em;
    }

    #articles>h2 { grid-column: span 2; }
    footer>div { padding: 5em 1em 0 1em; }
}

/*
Mobiltelefoner:
Gör hela sidan mer kompakt och funktionell
Tar bort titel och gör om navigering till tydliga knappar
Tar bort husbilden för mobil prestanda
Låter artikelbilderna ta upp hela skärmbredden
Lägger till en 'Tillbaka' knapp i inspectfönstret för att underlätta mobil navigering
Stänger av Parallax-effekten i About-sektionen för mobil prestanda och lägger texten under kartfunktionen
Gör om Kontakt-sektionen och footern till en kolumn
*/
@media (width <= 600px) {
    body { margin-top: 2.9em; }
    header>div>a { display: none; }
    header { height: 3em; }
    header>div { justify-content: space-between; }

    nav>ul>li>a {
        display: inline-block;
        border: 1px solid black;
        padding: 0.5em;
        background-color: #401921;
        color: white;
        width: 5em;
        text-align: center;
        border-radius: 0.3em;
    }

    nav>ul>li {
        padding: 0;
        margin: 0;
    }

    nav>ul { padding-left: 5px; }
    #shopping-cart { padding-right: 5px; }

    #house-parent { display: none; }
    #exit-inspect { display: block; }

    #articles {
        grid-template: auto repeat(8, 1fr) / 1fr;
        width: 100%;
        gap: 0;
        margin-top: 0;
    }

    #articles>h2 { display: none; }
    #articles img { border-radius: 0; }

    #about>div {
        grid-template: 1fr 1fr / 1fr;
        width: 95vw;
    }

    #about-text { margin-top: 0.5em; }

    #about {
        background: url("../images/vass.jpg");
        background-repeat: no-repeat;    
        background-position: center;
        background-size: cover;
        color: white;
        padding: 5em 0 5em 0;
    }

    #contact>div {
        grid-template: auto 1fr / 1fr;
        justify-items: left;
    }

    #contact {
        padding: 0;
        margin: 0 auto;
    }

    #contact form input[type=text], #contact form textarea, #contact form input[type=submit]  { width: 90vw; }
    #contact-info { margin-bottom: 2em; }

    #contact form {
        border-top: 2px solid black;
        padding-top: 2em;
    }

    footer {
        background-color: #401921;
        color: white;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    footer>div { padding: 1em 0 1em 1em; }
}

/* För väldigt små skärmar så låter vi inspectfönstret ta upp hela skärmbredden */
@media (width <= 500px) {
    #inspect-container {
        grid-template: auto auto auto/ 50vw 50vw;
        margin: 0;
        top: 0;
        left: 0;
        border-radius: 0 0 0.5em 0.5em;
    }

    #exit-inspect { border-radius: 0 0 0.3em 0; }
}