@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #C5D1D0;
    margin-top: 5em;
}

header {
    background-color: #C5D1D0;
    border-bottom: 1px solid black;
    position: fixed;
    height: 5em;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header>div {
    margin: 0 auto;
    max-width: 80em;
    height: 100%;
    color: #401921;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    color: #401921;
    text-decoration: none;
}

nav>ul {
    list-style-type: none;
}

nav>ul>li {
    display: inline;
    padding: 8px;
}

nav>ul>li:hover {
    text-decoration: underline;
}

#shopping-cart {
    width: 2.5em;
}

#grid-container {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
}

#house-parent {
    height: 34vw;
    clip-path: inset(0);
}

#house-image {
    position: fixed;
    object-fit: cover;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: -1;
}

#articles {
    width: 70%;
    margin: 0 auto;
    margin-top: 0.5em;
    display: grid;
    grid-template: auto repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1em;
}

#articles>h2 {
    font-size: 2rem;
    color: #401921;
    grid-column: span 3;
    justify-self: center;
}

#about>h2, #inspiration>h2 {
    font-size: 2rem;
    color: #401921;
    text-align: center;
}

#articles img {
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
}

footer {
    background-color: #404637;
    color: white;
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: center; 
    padding-top: 2em;
}

footer>div {
    padding: 3em;
}

footer ul {
    list-style-type: none;
}

@media (width <= 600px) {
    header>div {
        justify-content: space-between;
    }
}